*{
    padding: 0;
    margin: 0;
    background-color: #01263a;
}
header i{
    margin-top: 5px;
    margin-left: 200px;
}

footer{
    background0-color: #01263a;
    height: 200px;

}

.title1{
    margin-top: 14px;
    font-size: 25px;
    margin-left: 10px;
    color: white;
}
.title{
    margin-left: 10px;
    color: white;
}

p{
    margin-left: 12px;
    color: white;
}